* {
    margin: 0; /*el margin y padding en 0 para que todos los elementos 
                no tengan espacios entre ellos*/
    padding: o;
    box-sizing: border-box; /*para que ocupe el ancho y el padiing*/
}
body{
    background-image: url('Fondo001.jpg'); /*colocar la imagen de fondo*/
}
.IngresoDatos{
width: 500px;/*epacio total del form en px*/
background: #24303c; /*color de fondo del form*/
padding: 30px;/*para que no esté pegado el borde con el contenido*/
margin: auto; /*margin y top para que esté centrado*/
margin-top: 50px; /*Altura del input*/
font-family: 'calibri';/*tipo de letra*/
color: white;/*color de letra*/
border-radius: 4%; /*para redondear los bordes del form*/
box-shadow: 7px 13px 37px #000;/*para que tenga ese efecto sombra el form*/
}
.IngresoDatos h2{
    font-size: 30px;/*tamaño del h2*/
    margin-bottom: 20px;/*para dar espacio entre el h2 y la primer casilla*/
}
.Todo{
    width: 100%;/*ancho de cada casilla*/
    background: #24303c; /*color de cada casilla*/
    padding: 10px;/*para que no este unidos entre si*/
    border-radius: 4px;/*redondear borde de cada casilla*/
    margin-bottom: 16px;/*para dar espacio entre los casilleros y el siguiete texto*/
    border: 1px solid #1f53c5; /*poner un borde a cada casilla y color*/
    font-family: 'calibri';/*tipo de letra*/
    font-size: 18px; /*tamaño de letra*/
    color:white;/*color de letra*/
}
.IngresoDatos a{ /*esta decoracion es para que no se vea el color oscuro del enlace*/
    color: white;
}
.IngresoDatos p{
    text-align: center;/*alinear los textos 'p'*/
}
.IngresoDatos .boton{
    width: 100%;/*separar el boton del texto anterior*/
    background: #1f53c5;/*color del boton*/
    border: none;/*que no tenga bordes*/
    padding: 12px;
    color:white;
    margin:16px 0;
    font-size: 16px;
}
